@media only screen and (min-width: 1325px) {
    .content {
        width: calc(80% - #{250px});
        margin: auto;
    }
}
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: $white-100;
}
.header {
    position: fixed;
    height: 60px!important;
}
.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 999;
    flex-wrap: wrap;
    overflow: scroll;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
    transition: 0.4s ease-in-out;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

.contentLeft {
    width: calc(100% - #{250px});
    transition: 0.4s ease-in-out;
}
