.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.header {
    display: flex;
    align-self: flex-end;
    width: 100%;
    height: 60px;
    transition: 0.4s ease-in-out!important;
}
.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 999;
    flex-wrap: wrap;
    overflow-x: hidden;
    transition: 0.4s ease-in-out;
}
.content {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    transition: 0.4s ease-in-out;
    margin: 0;
}

.contentLeft {
    transition: 0.4s ease-in-out;
    width: calc(100% - #{250px})!important;
}
.headerLeft {
    width: calc(100% - #{250px})!important;
    transition: 0.4s ease-in-out!important;
}
