#sidebarMenu {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    transition: width 0.4s ease-in-out!important;
    background: rgba(0, 0, 0, 0.6) url("../../../assets/imgs/sidebar.jpg") no-repeat center;
    background-size: cover;
    background-blend-mode: darken;
    -webkit-box-shadow: 9px 1px 5px -7px rgba(0,0,0,0.38);
    -moz-box-shadow: 9px 1px 5px -7px rgba(0,0,0,0.38);
    box-shadow: 9px 1px 5px -7px rgba(0,0,0,0.38);
}
.sidebarOpen {
    width: 250px!important;
    .sidebarMenuInner{
        transform: translate(0);
        border-top: 1px solid rgba(255, 255, 255, 0.10);
    }
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    width: 250px;
    transform: translate(-250px);
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    transition: 0.4s ease-in-out!important;
}
.sidebarMenuInner li {
    display: flex;
    flex-direction: column;
    margin: 10px;
    list-style: none;
    text-transform: uppercase;
}
.separator {
    width: 100%;
    border-bottom: solid 1px;
    border-color: white;
    margin: 0!important;
}
.sidebarMenuInner li span{
    display: block;
    color: rgba(255, 255, 255, 0.50);
}
