button {
    display: inline-block;
    outline: none;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    cursor: pointer;
}
.loading {
    background: url('../../../assets/imgs/loading.svg') no-repeat center;
    background-size: 23px;
    text-indent: -1000em;
    cursor: pointer;
    overflow: hidden;
}
button:hover {
    background-color: $gray-100;
    cursor: pointer;
}
button:active {
    background-color: $light;
}
.color-primary {
    background-color: $primary;
}
.color-secondary {
    background-color: $secondary;
}
.color-success {
    background-color: $success;
    transition: all 400ms;
}

.color-info {
    background-color: $cyan;
}
.color-warning {
    background-color: $warning;
}
.color-danger {
    background-color: $danger;
}
.color-light {
    background-color: $light;
}
.color-dark {
    background-color: $dark;
}

.color-default {
    background-color: transparent;
    transition: all 400ms;
}

.color-success:hover {
    background-color: $success-hover;
}

.color-warning:hover {
    background-color: $warning-hover;
}
