.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: $white;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
    border-bottom: solid 1px;
    border-color: $gray-300;
}
