@media only screen and (min-width: 720px) {
    .toogleSideBar {
        transform: translate(-1000px);
        transition: all .5s;
        display: none;
    }
    .options {
        transform: translate(0px);
        transition: all .5s;
    }
    .navbar-left {
        transition: all .5s;
        margin-left: 0 !important;
    }
}

@media only screen and (max-width: 1162px) {
    .options {
        width: 80% !important;
    }
}

@media only screen and (max-width: 935px) {
    .options {
        width: 100% !important;

        button {
            padding: 0;
        }
    }
    .navbar-left {
        width: 100%;
    }

    .animbrand {
        display: none;
    }
}

@media only screen and (max-width: 721px) {
    .options {
        transform: translate(1000px);
        transition: all .5s;
    }
    .toogleSideBar {
        transform: translate(0px);
        transition: all .5s;
    }
    .navbar-left {
        transition: all .5s;
        margin-left: 10px !important;
    }
}

@media only screen and (max-width: 360px) {
    .navbar-right {
        display: flex !important;
        justify-content: space-between !important;
        margin-right: 0 !important;
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: $white;
    height: 100%;
    z-index: 999;
    border-bottom: solid 1px;
    border-color: $primary;
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.navbar-right {
    margin-left: auto;
}

.options {
    display: flex;
    justify-content: space-between;
    width: 65%;
    height: 100%;

    button {
        outline: none;
        cursor: pointer;
        width: 20%;
        background-color: transparent;
        border: 0;
        padding-top: 0;
        height: 100%;
        color: $gray-700;

        &:hover {
            padding-top: 5px;
            background-color: $gray-300;
            border-bottom: solid 5px;
            border-color: $primary;
            transition: all .1s;
        }
    }
}

.animbrand {
    min-width: 120px;
    margin-left: 5px;

    h4 {
        color: $primary;
        cursor: pointer;

        strong {
            color: $primary;
        }
    }
}

.positionFixed {
    position: absolute!important;
    left: 0px;
}
