input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;

}
.sidebarIconToggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 10px;
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 99;
    top: 22px;
    left: 15px;
    height: 30px;
    width: 30px;
    background-color: $gray-700;
    border-radius: 50px;
    -webkit-box-shadow: 0px -1px 2px 1px rgba(0,0,0,0.84);
    -moz-box-shadow: 0px -1px 2px 1px rgba(0,0,0,0.84);
    box-shadow: 0px -1px 2px 1px rgba(0,0,0,0.84);
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $white;
}
.horizontal {
    width: 80%;
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    background-color: $white;
}
.diagonal.part-1 {
    width: 80%;
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
    background-color: $white;
}
.diagonal.part-2 {
    width: 80%;
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    background-color: $white;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 1px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
