.input-group {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 150px;
    height: 35px;
    margin: 10px;

    border-radius: 5px;
    background-color: $gray-400;
}

.form-control {
    display: flex;
    width: 100%;
    height: 100%;
    color: $gray-700;
    border: 0;
    &:focus {
        border-bottom: solid 1px $gray-500;
    }
    outline: none;
    background-color: $gray-400;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 3px 50%;
    padding: 12px 20px 12px 20px;
}
